In [2]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
df=pd.read_excel('_RBD.xlsx')
df

   System A  System B  System C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

ANOVA

In [4]:
data=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['System A','System B','System C'])
data.columns=['index','treatments','value']

In [5]:
model=ols('value~C(treatments)',data=data).fit()
anova_table=sm.stats.anova_lm(model,typ=1)
anova_table

                 df  sum_sq    mean_sq         F    PR(>F)
C(treatments)   2.0    21.0  10.500000  3.214286  0.068903
Residual       15.0    49.0   3.266667       NaN       NaN

In [6]:
df=pd.read_excel('rbd2.xlsx')
df

   chem1  chem2  chem3  chem4
0    1.3    2.2    1.8    3.9
1    1.6    2.4    1.7    4.4
2    0.5    0.4    0.6    2.0
3    1.2    2.0    1.5    4.1
4    1.1    1.8    1.3    3.4

In [7]:
data=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['chem1','chem2','chem3','chem4'])
data.columns=['index','treatments','value']

In [8]:
model=ols('value~C(treatments)',data=data).fit()
aov_table=sm.stats.anova_lm(model,typ=1)
aov_table

                 df  sum_sq   mean_sq          F    PR(>F)
C(treatments)   3.0  18.044  6.014667  12.589569  0.000176
Residual       16.0   7.644  0.477750        NaN       NaN

In [9]:
data.columns=['Fabric Samples','Chemical Types','value']
data

    Fabric Samples Chemical Types  value
0                0          chem1    1.3
1                1          chem1    1.6
2                2          chem1    0.5
3                3          chem1    1.2
4                4          chem1    1.1
5                0          chem2    2.2
6                1          chem2    2.4
7                2          chem2    0.4
8                3          chem2    2.0
9                4          chem2    1.8
10               0          chem3    1.8
11               1          chem3    1.7
12               2          chem3    0.6
13               3          chem3    1.5
14               4          chem3    1.3
15               0          chem4    3.9
16               1          chem4    4.4
17               2          chem4    2.0
18               3          chem4    4.1
19               4          chem4    3.4

In [12]:
model=ols('value~ C(Fabric Samples)+ C(Chemical Types)',data=data).fit()
aov_table=sm.stats.anova_lm(model,typ=1)
aov_table

SyntaxError: invalid syntax (<unknown>, line 1)